.lead {
  display: flex;
  flex-direction: column;
  max-width: 986px;
  align-items: center;
  justify-content: center;
  margin: 0 auto 92px auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}