.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 984px;
}

@media screen and (max-width:1024px) {
  .header {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width:768px) {
  .header {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: calc(100% - 32px);
    padding-top: 20px;
  }
}