.footer__copyright {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }
}