.place {
  display: grid;
  margin-bottom: 80px;
  grid-gap: 48px 40px;
  grid-template-columns: calc(460 / 984 * 100%) auto;
  grid-auto-rows: min-content auto;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: calc(440/928 * 100%) auto;
    column-gap: 32px;
    margin: 0 0 72px 0;
  }
}

@media screen and (max-width:930px) {
  .place {
    display: grid;
    margin-bottom: 80px;
    grid-template-columns: calc(340/720 * 100%) auto;
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 540px) {
  .place {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
}