.footer {
  display: flex;
  position: relative;
  margin: 92px auto 24px auto;
  max-width: calc(100% - 96px);
  justify-content: space-between;
}

@media screen and (max-width:768px) {
  .footer {
    max-width: 768px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 64px;
    max-width: 320px;
    padding: 0 16px;
  }
}