.footer {
  display: flex;
  position: relative;
  margin: 92px auto 0px auto;
  max-width: calc(100% - 48px * 2);
  justify-content: space-between;
  padding-bottom: 24px;
}

@media screen and (max-width:768px) {
  .footer {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 0;
    margin-top: 64px;
  }
}